* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

canvas {
  border: 2px solid white;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  color: white;
}
